@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("deep-purple", "darken-4");

@import "{poetic:materialize-scss}/sass/materialize.scss";

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.full-w{
  width: 100%;
}
